.DS_Store
inventory/group_vars
inventory/hosts
roles/freeipa_client
roles/freeipa_server
roles/rhbase
roles/httpd
roles/mariadb
roles/wordpress
roles/foreman*
roles/win_*
roles/oVirt_*
roles/ovirt*
roles/dock*
roles/kube*
roles/nfs
roles/pip
roles/epel
roles/cacti
roles/andrewrothstein.*
keys

